/* Reset */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size:1.6rem;
    font-family: "Roboto", sans-serif;
}

html, body {
    max-width: 100%;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}

.main-container {
    max-width: 1200px;
}

/* HEADER */

header {
    background-color: rgba(255, 255, 255,0.9);
    display: flex;
    position: sticky;
    top:0;
    justify-content:space-around;
    gap: 5rem;
    align-items: center;
    padding: 2.5rem;
    z-index: 900;
}

.burger {
    font-size:3rem;
}

.header_img_container img {
    width:100%;
    height:auto;
}

.header_img_container {
    width:60%;
    max-width: 25rem;
    height:auto;
}

.nav_menu {
    display: none;
}

/* SECTION HERO */

.hero {
    padding: 2rem calc(15%/2) 2rem calc(15%/2);
    color: whitesmoke;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    position: relative;
}

.hero img {
    max-width: 100%;
    height: 40rem;
    object-fit:cover;
    object-position: 75%;
    z-index: -1;
    animation-name: slidin;
}

.text_img {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items:center;
    gap: 1.5rem;
    max-width: 27rem;
    line-height: 3rem;
    justify-content: center;
    margin-top: 10rem;
}

.hero p {
    font-weight: 500;
    font-size: 1.8rem;
    opacity: 0.9;
}

h1 {
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 2rem;
}

.hero_title span {
    color: rgb(37, 175, 243)

}

.button_primary {
    padding: 0.7rem 1.5rem;
    background-color: rgba(37, 175, 243,0.85);
    border-radius: 10px;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button_primary:hover {
    background-color:rgb(5, 131, 194);
}

.mobile_nav {
    padding: 1rem;
    background-color: rgba(128, 128, 128, 0.623);
    opacity: 0.75;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 6rem;
    border: 1px rgba(0, 0, 0, 0.397) solid;
}

.nav_bar_hero {
    display: flex;
    gap: 1rem;
}

/* SECTION SERVICES  */

h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 5rem;
}

.line_left {
    border: 1px solid rgba(128, 128, 128, 0.514);
    width: 45%;
    height: 0px;
}

.line_right {
    width: 45%;
    height: 0px;
    border: 1px solid rgba(128, 128, 128, 0.514);
}

.blue_circle {
    background-color:rgb(37, 175, 243);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.bar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    gap: 0.5rem;
    width: 50%;
}

.services_text {
    text-align:justify;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3rem;
    font-size: 1.8rem;
}

.services_top_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.img_services_container img {
    width:100%;
    margin: 2rem;
}

.img_services_container {
    display: flex;
    justify-content: center;
}

.services_main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.services_right_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    row-gap: 4rem;
}

.services_logo {
    font-size: 3rem;
    color: rgb(37, 175, 243);
    padding: 2.5rem;
    border-radius: 50%;
}

.quality_container {
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
}

/* ANIMATED CIRCLE  */
.services_text_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 2.5rem;
    text-align: center;
}

.services_text_container p {
    font-size:1.8rem ;
}


.animation_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border: 1px solid gray;
    flex-shrink: 0;
    position: relative;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.circle_rotate {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    margin: auto;
    background-color:rgb(37, 175, 243);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    -webkit-animation: circle 3s linear infinite;
    animation: circle 3s linear infinite;
}

@-webkit-keyframes circle {

    0%{
        transform: rotate(0deg)translate(-50px);
    }

    100% {
        transform: rotate(360deg)translate(-50px)
        rotate(-360deg);
    }
}

/* ANIMATION END */

/* SECTION PROJET */

.projets {
    background-color: rgb(194, 45, 45);
    width: 500px;
}



